name: sync
on:
  schedule:
    - cron: '*/15 * * * *'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Set up Python 3.10
      uses: actions/setup-python@v2
      with:
        python-version: "3.10"
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install requests	
    - name: sync
      run: |
        cp sync.py ../
        rm -rf *
        mkdir en-us zh-cn
        mkdir en-us/by-version en-us/by-model zh-cn/by-version zh-cn/by-model 
        cd ../
        python sync.py
        cd MiuiEURepository
    - name: commit
      run: |
        if [$(git diff) -q ''];then exit;fi
        git config --global user.email 1169942595@qq.com
        git config --global user.name A-JiuA
        git add .
        git commit -m "autoupdate" -a
    - name: Push changes
      uses: ad-m/github-push-action@master
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
    - name: The job has failed
      if: ${{ failure() }}
      run: exit
